#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-btn {
  width: 50px;
  height: 50px;
}

.reset-btn:hover {
  cursor: pointer;
}

.reset-btn:active {
  cursor: auto;
}

.form-crud {
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.from-textarea {
  resize: none;
  border-radius: 32px;
  padding: 20px;
}

.form-btn {
  display: flex;
  position: absolute;
  top: 145px;
  left: 240px;
  background-color: wheat;
  border-radius: 100%;
  padding: 6px;
}

.notes-list {
  display: flex;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  position: relative;
  background-color: beige;
  border: 1px solid black;
  border-radius: 30px;
  width: 200px;
  padding: 20px;
}

.item-delete-img {
  position: absolute;
  left: 195px;
  top: 10px;
  width: 25px;
}

.item-delete-img:hover {
  cursor: pointer;
}

.item-delete-img:active {
  cursor: auto;
}

.item-text {
  color: #000;
}